{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>
    <script src="{% static 'js/leaflet.js' %}"></script>
    <script src="{% static 'js/forms.js' %}"></script>
    <title>HSD Dashboard</title>
</head>
<body>
    <header class="navbar-fixed" >
        <nav>
            <div class="nav-wrapper light-blue darken-4 ">
                <ul>
                    <li><a href="{% url 'home' %}" class="left">HSD Dashboard</a></li>
                </ul>
                <ul class="right">

               {% if user.is_authenticated and user.profile.get_role_display == 'admin' %}
              <li><form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <li><a href="/profile">Profile</a></li>
                 <li><a href="{% url 'survey_index'%}">Survey Operations</a></li>
                 <li><a href="{% url 'survey_create'%}">Add Survey Operations</a></li>
                 <li><a href="{% url 'type_index' %}">Survey Types</a></li>
                 <li><a href="{% url 'type_create' %}">Add Survey Types</a></li>
                 <li><a href="{% url 'agency_index' %}">Agencies List</a></li>
                 <li><a href="{% url 'agency_create' %}">Add Agency</a></li>
                 <li><a href="{% url 'attribute_index' %}">Survey Attribute List</a></li>
                 <li><a href="{% url 'attribute_create' %}">Add New Attribute</a></li>
                <li><a href="{% url 'signup' %}">Create Account</a></li>
                <button type="submit">Log Out</button>
              </form></li>

              {% elif user.is_authenticated%}
               <li><form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <li><a href="/profile">Profile</a></li>
                <li><a href="{% url 'survey_index'%}">Survey Operations</a></li>
                <li><a href="{% url 'survey_create'%}">Add Survey Operations</a></li>
                <button type="submit">Log Out</button>
              </form></li>
          {% else %}
            <li><a href="{% url 'login' %}">Log In</a></li>
          {% endif %}

                </ul>

            </div>
        </nav>

        
    </header>

    <main class="container">
        {%block content%}
        {%endblock%}
        
    </main>
    <footer class="page-footer light-blue darken-4">
        <div class="right">All Rights Reserved, &copy; 2025 HSD Dashboard &nbsp;</div>
    </footer>
</body>
</html>