{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col s12">
        <div class="card-panel center-align" style="margin-top: 2rem; padding: 3rem;">
            <div class="row">
                <div class="col s12">
                    <i class="material-icons large light-blue-text text-darken-2" style="font-size: 4rem;">lock</i>
                </div>
            </div>
            
            <h3 class="light-blue-text text-darken-4" style="margin-top: 2rem; font-weight: 300;">
                Change Your Password
            </h3>
            

            
            {% if form.errors %}
                <div class="row" style="margin: 2rem 0;">
                    <div class="col s12 m8 offset-m2">
                        {% for key, value in form.errors.items %}
                            <div class="card-panel red lighten-4 center-align">
                                <i class="material-icons left red-text">error</i>
                                <span class="red-text text-darken-2"><strong>{{ value }}</strong></span>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            <div class="row" style="margin-top: 3rem;">
                <div class="col s12 m8 offset-m2">
                    <div class="card-panel" style="padding: 2rem;">
                        <form method="POST">
                            {% csrf_token %}
                            
                            <div class="row">
                                <div class="col s12">
                                    <h5 class="light-blue-text text-darken-3" style="margin-bottom: 2rem;">
                                        <i class="material-icons left">security</i>
                                        Password Information
                                    </h5>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">lock_outline</i>
                                    <input type="password" name="old_password" id="id_old_password" 
                                           autocomplete="current-password" required class="validate">
                                    <label for="id_old_password">Current Password</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">lock</i>
                                    <input type="password" name="new_password1" id="id_new_password1" 
                                           autocomplete="new-password" required class="validate">
                                    <label for="id_new_password1">New Password</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">lock</i>
                                    <input type="password" name="new_password2" id="id_new_password2" 
                                           autocomplete="new-password" required class="validate">
                                    <label for="id_new_password2">Confirm New Password</label>
                                </div>
                            </div>
                            
                            <div class="divider" style="margin: 2rem 0;"></div>
                            
                            <div class="row">
                                <div class="col s12 m6">
                                    <button class="btn-large waves-effect waves-light green darken-2 hoverable" 
                                            type="submit" 
                                            style="width: 100%; margin-bottom: 1rem;">
                                        <i class="material-icons left">save</i>
                                        Update Password
                                    </button>
                                </div>
                                <div class="col s12 m6">
                                    <a href="{% url 'profile' %}" 
                                       class="btn-large waves-effect waves-light grey darken-1 hoverable" 
                                       style="width: 100%; margin-bottom: 1rem;">
                                        <i class="material-icons left">arrow_back</i>
                                        Back to Profile
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            

        </div>
    </div>
</div>
{% endblock %}