{% extends 'base.html' %}
{% block content %}

{% if object %}
  <h1>Edit <span class="teal-text">{{ object.survey_name }}</span></h1>
{% else %}
  <h1>Add Survey Operations</h1>
{% endif %}

<div class="row">
  <div class="col s12 m4">
    <form action="" method="post">
      {% csrf_token %}
      {% for field in form %}
      {% if field.name != 'location'%}
      <div>
        {{field.label_tag}}
        {{field}}
      </div>
      {% endif %}
      {% endfor %}
      <label for="id_location">Location</label>
      <textarea name="location" id="id_location" rows="4" cols="50">{{object.location}}</textarea>
      <input type="submit" value="Submit!" class="btn">
    </form>
  </div>

  <div class="col s12 m8">
    <label for="map">Survey Area Location</label>
    <div id="map">
      
    </div>
  </div>
</div>
{% endblock %}
