{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col s12">
        <h1 class="light-blue-text text-darken-4"><i class="material-icons left medium">view_list</i>Survey Operations</h1>
    </div>
</div>

<div class="row">
    {% for survey in surveyoperations_list %}
    <div class="col s12">
        <div class="card-panel white hoverable">
            <div class="row valign-wrapper" style="margin-bottom: 0;">
                <div class="col s8">
                    <h5 class="black-text" style="margin-top: 0;">{{ survey.survey_name }}</h5>
                    {% if survey.get_status_display|lower == 'planned' %}
                        <span class="new badge blue lighten-1" data-badge-caption="">PLANNED</span>
                    {% elif survey.get_status_display|lower == 'ongoing' %}
                        <span class="new badge green" data-badge-caption="">ONGOING</span>
                    {% elif survey.get_status_display|lower == 'completed' %}
                        <span class="new badge blue darken-2" data-badge-caption="">COMPLETED</span>
                    {% elif survey.get_status_display|lower == 'cancelled' %}
                        <span class="new badge red" data-badge-caption="">CANCELLED</span>
                    {% else %}
                        <span class="new badge grey" data-badge-caption="">{{ survey.get_status_display|upper }}</span>
                    {% endif %}
                </div>
                <div class="col s4 right-align">
                    <a href="{% url 'survey_detail' survey.id %}" class="btn light-blue darken-4 waves-effect waves-light">
                        <i class="material-icons left">visibility</i>View
                    </a>
                    <a href="{% url 'dataimport_entry' survey.id %}" class="btn light-blue waves-effect waves-light">
                        <i class="material-icons left">cloud_upload</i>Import
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% empty %}
    <div class="col s12">
        <div class="card-panel grey lighten-4 center-align">
            <h5 class="grey-text">No Survey Operations Found</h5>
            <p class="grey-text">Create your first survey operation to get started.</p>
            <a href="{% url 'survey_create' %}" class="btn waves-effect waves-light light-blue darken-4">
                <i class="material-icons left">add</i>Create Survey Operation
            </a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}